<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fw.product.mapper.mysql.ProductMysqlMapper">
  <select id="getProductListMysql" parameterType="STRING" resultType="MyProduct">
    SELECT * FROM CONNECTION_TEST
  </select>
  <insert id="insertProductMysql" parameterType="MyProduct">
    INSERT INTO CONNECTION_TEST (NAME, PRICE) VALUES ('asdf', 1234)
  </insert>
  <insert id="errorProductMysql" parameterType="MyProduct">
    INSERT INTO CONNECTION_TEST (NAME, PRICE) VALUES ('asdf', 'aaaaaaaaaaaaaaa')
  </insert>
</mapper>
